<form>
  <div class="container">
    <div class="col-md-6 col-md-push-3">

    <h2>Set up a Gather account</h2>
    <div class="form-group">
      <label for="inputEmail">Email address</label>
      <input type="email" class="form-control" id="inputEmail">
    </div>
    <div class="form-group">
      <label for="inputPassword">Password</label>
      <input type="password" class="form-control" id="inputPassword">
    </div>
    <div class="form-group">
      <label for="inputFile">Image</label>
      <input type="file" id="inputFile">
      <p class="help-block">Upload profile picture.</p>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</div>
</form>

{{outlet}}
